/*html { 
background: url('images/home.jpg') no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}*/

body{
    font-family: 'Roboto', sans-serif;

}

.transparent {
    padding:5px;
    width:250px;
    position:relative;
    background: rgba(255, 255, 255, 0.75);
}

button:focus {
    outline: 0;
}

.container-body{
    padding: 10px;
    background: rgba(255, 255, 255, 0.75);
    margin-top: 10%;
    margin-left: 8.5%;
    max-width: 30%;
    border-radius: 5px;
}

.form-row{
    outline-style: none;
}

.radioButton{
    margin-left: auto;
    margin-left: auto;  
}
